#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
  width: min-content;

  div {
    margin: 0.5rem 0;
  }
}

form {
  .error {
    color: var(--color-error);
  }
}